@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
.tile-centered-primary {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background-color: #71A9F7;
  width: 75vw;
  border-radius: 30px;
  padding: 35px;
  box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15); }

.title-primary {
  color: #71A9F7;
  font-size: 25px !important;
  font-weight: 900; }

.section-title-primary {
  width: fit-content;
  color: #71A9F7;
  font-size: 65px !important;
  font-weight: 900;
  position: relative;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0 65px 0 0 black; }

.tile-centered-dark {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background-color: #465362;
  width: 75vw;
  border-radius: 30px;
  padding: 35px;
  box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15); }

.title-dark {
  color: #465362;
  font-size: 25px !important;
  font-weight: 900; }

.section-title-dark {
  width: fit-content;
  color: #465362;
  font-size: 65px !important;
  font-weight: 900;
  position: relative;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0 65px 0 0 black; }

.tile-centered-light {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background-color: #F7F7FF;
  width: 75vw;
  border-radius: 30px;
  padding: 35px;
  box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15); }

.title-light {
  color: #F7F7FF;
  font-size: 25px !important;
  font-weight: 900; }

.section-title-light {
  width: fit-content;
  color: #F7F7FF;
  font-size: 65px !important;
  font-weight: 900;
  position: relative;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0 65px 0 0 black; }
