@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/elements/button";

// Set your brand colors
$blue: #71A9F7;
$gray: #465362;
$white: #F7F7FF;
$blue-transparent: rgba(113, 169, 247, 0.5);
$white-transparent: rgba(255, 248, 248, 0.5);
$gray-transparent: rgba(70, 83, 98, 0.5);


// $colors: ("primary": $blue, "dark": $gray, "light": $white);
$colors: (
  ("primary", $blue, $blue-transparent),
  ("dark", $gray, $gray-transparent),
  ("light", $white, $white-transparent)
);

.project-title {
    font-weight: 900 !important;
    font-size: 5.5em !important;
  
    /* Need a better way to manage the text spacing */
    margin-bottom: 25px !important;
}

.project-header {
    @include until($tablet) {
        padding: 15px;
    }

    @include from($tablet) {
        // padding-top: 50px;
        // min-height: calc(100vh - 100px);
    }
}

.project-header .columns {
    @include from($tablet) {
        min-height: calc(75vh);
    }
}

.container {
    @include until($tablet) {
        padding-top: 50px;
    }
}

@each $name, $color, $color-transparent in $colors {
    div.tile-column-#{$name} {
        @extend .columns;
        margin: 0 auto;
        vertical-align: middle; 
        background-color: $color;
        border-radius: 30px;
        padding: 100px;
        box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15);
        @include until($tablet) {
            font-size: 12px;  
            padding: 40px 25px 40px 25px;
            width: 95vw;
            line-height: normal !important;
        }
    }

    .button-#{$name} {
        background-color: $color;
        padding: 30px 35px 30px 35px;
        margin-right: 36px;
        margin-bottom: 35px;
        border-radius: 10px;
        box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15);
        @extend .is-large;
        @extend .button;
    }

    .is-centered {
        display: flex;
        align-items: center;
    }

    div.tile-centered-#{$name} {
        margin: 0 auto;
        vertical-align: middle; 
        text-align: center; 
        background-color: $color;
        border-radius: 30px;
        padding: 35px;
        box-shadow: 0 6px 6px rgba(10, 10, 10, 0.15);
    }

    p.title-#{$name} {
        color: $color;
        font-size: 35px !important;
        font-weight: 900;
    }

    p.section-title-#{$name} {
        line-height: normal !important;
        display: inline-block; 
        color: $color;
        font-size: 50px !important;
        margin-bottom: 100px;
        font-weight: 900;
        height: 10px;
        border-radius: 10px;
        box-shadow: 0 45px 0 0 $color-transparent  
    }

    p.text-fit {
        display:inline-block;
        width: 75%;
        @include until($tablet) {
            padding: 15px;
            width: 95vw;
        }
    }
}
