@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #71A9F7;
$gray: #465362;
$white: #F7F7FF;

// Update Bulma's global variables
$family-sans-serif: "Avenir", sans-serif;
$text: $gray;
$title-color: $gray;
$subtitle-color: $gray; 
$primary: $blue;
$dark: $gray;
$light: $white;
$navbar-height: 10rem;
$navbar-item-img-max-height: 64px;
$navbar-item-hover-background-color: #F7F7FF;

// Update some of Bulma's component variables
$body-background-color: $white;

// Currently importing all modules for production; will cut down later
@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/elements/_all";
@import "../../../node_modules/bulma/sass/form/_all";
@import "../../../node_modules/bulma/sass/components/_all";
@import "../../../node_modules/bulma/sass/grid/_all";
@import "../../../node_modules/bulma/sass/layout/_all";